<table>
    <tbody>
        <tr>
            <th>Participantes</th>
            <td>{{numpart}}</td>
        </tr>
        <tr>
            <th>Enviados</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Pendientes de validar</th>
            <td>0</td>
        </tr>
    </tbody>
</table>

</br>

<input type="button" class="btn btn-primary" value="Validar" onclick="location.href='{{validarurl}}'">