<div style="width: 10%; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <div style="padding-right: 10px;">
            <input type="button" class="btn btn-primary" value="Validar">
        </div>
        <div>
            <input type="button" class="btn btn-primary" value="Denegar">
        </div>
    </div>
</div>