<div style="width: 120px; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: column;">
        <div style="padding-top: 10px;">
            <input id="val-{{examid}}-{{userid}}" type="button" class="btn btn-primary" value="Validar">
        </div>
        <div style="padding-top: 10px;">
            <input id="den-{{examid}}-{{userid}}" type="button" class="btn btn-primary" value="Denegar">
        </div>
    </div>
</div>