<table class="generaltable">
    <tbody>
        <tr>
            <th style="width: 150px;">Participantes</th>
            <td>{{numpart}}</td>
        </tr>
        <tr>
            <th style="width: 150px;">No entregados</th>
            <td>{{numnoent}}</td>
        </tr>
        <tr>
            <th style="width: 150px;">Entregados</th>
            <td>{{nument}}</td>
        </tr>
        <tr>
            <th style="width: 150px;">Validados</th>
            <td>{{numval}}</td>
        </tr>
        <tr>
            <th style="width: 150px;">Denegados</th>
            <td>{{numden}}</td>
        </tr>
    </tbody>
</table>

</br>

<input type="button" class="btn btn-primary" value="Validar" onclick="location.href='{{validarurl}}'">