<table class="generaltable">
    <tbody>
    <tr>
        <th style="width: 150px;">Estat de la tramesa</th>
        <td>a</td>
    </tr>
    <tr>
        <th style="width: 150px;">Estat de la qualificació</th>
        <td>b</td>
    </tr>
    <tr>
        <th style="width: 150px;">Data de venciment</th>
        <td>c</td>
    </tr>
    <tr>
        <th style="width: 150px;">Examen</th>
        <td>d</td>
    </tr>
    </tbody>
</table>